Repository hmcts/azure-app-proxy, pull requests merged in 2023-10, with the labels that each got.

#20 DTSPO-14754 - Add sds sonarqube webhook
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#9 Add availability zones
  components/app-proxy/vm.tf
Labels: app_proxy_infra/destroy, dns_registration/no-changes

#22 DTSPO-14754 - Add cft sonarqube webhook
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#25 DTSPO-15318: Add SDS Jenkins PTL to app proxy
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#26 DTSPO-15318: Add SDS jenkins static
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#27 DTSPO-15318: Add CFT Jenkins PTL config to app-proxy
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#29 Add Netbox sandbox as an App Proxy Application
  apps.yaml
  logos/netbox.png
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#28 Update to reference graph permissions issue
  README.md
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#30 Netbox Sandbox: fix internalUrl
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes
