Repository hmcts/azure-app-proxy, pull requests merged in 2023-08, with the labels that each got.

#8 register jenkins sbox
  apps.yaml
  logos/jenkins.png
Labels: mgmt-app-proxy/no-changes, mgmt-dns/add-or-update, app_proxy_infra/no-changes, dns_registration/add-or-update

#10 Add outh2 perms for sbox jenkins
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#11 Enable groupMembershipClaims
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#12 Add sandbox jenkins static url
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#13 The schema exists
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#14 Update apps.yaml
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#15 Fix read perms
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#16 Add README
  README.md
Labels: dns_registration/no-changes, app_proxy_infra/no-changes
