Repository hmcts/azure-app-proxy, pull requests merged in 2023-12, with the labels that each got.

#34 DTSPO-15627 - adding nessus app to app proxy
  apps.yaml
  logos/nessus.png
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#35 fix: added missing internal URL
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#36 removing nessus for fresh start
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/destroy

#37 reverted last deletion
  apps.yaml
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#39 changing Nessus app internal URL
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/no-changes

#38 DTSPO-15628 - Add splunk sh and es
  apps.yaml
  logos/splunk-es-server.png
  logos/splunk-search-head.png
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update

#40 Dtspo 15778
  apps.yaml
  logos/backstage.png
Labels: app_proxy_infra/no-changes, dns_registration/add-or-update
