Repository hmcts/azure-app-proxy, pull requests merged in 2024-09, with the labels that each got.

#69 DTSPO-18399 additional config for sandbox incident bot
  apps.yaml
Labels: dns_registration/add-or-update, app_proxy_infra/add-or-update

#70 Updating App Proxy to use the same cert as the VPN (Sandbox)
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/add-or-update

#71 Updating App Proxy to use the same cert as the VPN (Prod)
  apps.yaml
Labels: dns_registration/no-changes, app_proxy_infra/add-or-update

#72 Dtspo 18845 app proxy ama
  components/app-proxy/provider.tf
  components/app-proxy/vm.tf
  environments/mgmt/mgmt.tfvars
  environments/variables.tf
Labels: dns_registration/no-changes, app_proxy_infra/add-or-update

#73 Revert "Dtspo 18845 app proxy ama"
  components/app-proxy/provider.tf
  components/app-proxy/vm.tf
  environments/mgmt/mgmt.tfvars
  environments/variables.tf
Labels: app_proxy_infra/destroy, dns_registration/no-changes

#74 Fix az login in bootstrap script
  components/app-proxy/Bootstrap-Application-Proxy.ps1
Labels: dns_registration/no-changes, app_proxy_infra/add-or-update

#75 Update bootstrap script with more logging and increased timeout
  components/app-proxy/Bootstrap-Application-Proxy.ps1
Labels: dns_registration/no-changes, app_proxy_infra/add-or-update

#76 Revert script update
  components/app-proxy/Bootstrap-Application-Proxy.ps1
Labels: dns_registration/no-changes, app_proxy_infra/add-or-update

#77 Re-add ama agent
  components/app-proxy/provider.tf
  components/app-proxy/vm.tf
Labels: app_proxy_infra - TerraformPlanApply/add-or-update, dns_registration - TerraformPlanApply/no-changes

#78 Enable systemassigned_identity on VMs
  components/app-proxy/vm.tf
Labels: app_proxy_infra - TerraformPlanApply/add-or-update, dns_registration - TerraformPlanApply/no-changes
